<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>calendar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Json1</display-name>
    <servlet-name>Json1</servlet-name>
    <servlet-class>servlet.Json1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Json1</servlet-name>
    <url-pattern>/Json1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Json_me</display-name>
    <servlet-name>Json_me</servlet-name>
    <servlet-class>servlet.Json_me</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Json_me</servlet-name>
    <url-pattern>/Json_me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Click</display-name>
    <servlet-name>Click</servlet-name>
    <servlet-class>servlet.Click</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Click</servlet-name>
    <url-pattern>/Click</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>servlet.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>servlet.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Drag</display-name>
    <servlet-name>Drag</servlet-name>
    <servlet-class>servlet.Drag</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Drag</servlet-name>
    <url-pattern>/Drag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Resize</display-name>
    <servlet-name>Resize</servlet-name>
    <servlet-class>servlet.Resize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resize</servlet-name>
    <url-pattern>/Resize</url-pattern>
  </servlet-mapping>
 
  
</web-app>